@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Rufina:400,700&display=swap'); 
  body {  
    font-family:'Open Sans', sans-serif;
    font-size:100%;
    line-height:1.6;
    font-weight:300;
    background:#d3d3d3;
    color:#000;
  }  
* { 
    border-width: 0; 
    border-style: solid; 
    border-color: #e5e7eb;
} 

body { 
    margin: 0; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 100%; 
    line-height: 1.6; 
    font-weight: 300;
} 

body { 
    width: 100%; 
    padding: 0; 
    margin: 0; 
    overflow-x: hidden; 
    overflow-y: auto;
} 

body { 
    background: #d3d3d3;
} 

html { 
    color: #000;
} 

html { 
    font-size: 100%;
} 

.is-wrapper { 
    display: flex; 
    flex-flow: row wrap; 
    width: 100%; 
    box-sizing: border-box; 
    margin: 0 auto; 
    max-width: 100%; 
    -webkit-transition: all ease 0.5s; 
    -moz-transition: all ease 0.5s; 
    -ms-transition: all ease 0.5s; 
    -o-transition: all ease 0.5s; 
    transition: all ease 0.5s;
} 

*,:before,:after { 
    border-width: 0; 
    border-style: solid; 
    border-color: #e5e7eb;
} 

.is-wrapper div.is-section  { 
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    height: auto; 
    min-height: 100vh; 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    position: relative; 
    background: #fff; 
    overflow-x: hidden !important; 
    overflow-y: hidden !important;
} 

.is-wrapper div.is-section-100  { 
    min-height: 100vh;
} 

.is-box { 
    display: flex; 
    flex-direction: column; 
    flex-grow: 1; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    box-sizing: border-box;
} 

.is-light-text { 
    color: #fff;
} 

.is-wrapper div.is-section-auto  { 
    min-height: unset;
} 

.type-rufina-oxygen { 
    font-family: 'Oxygen', sans-serif; 
    font-weight: 300; 
    font-size: 100%; 
    text-transform: none; 
    font-style: normal;
} 

.type-poppins { 
    font-family: 'Poppins', sans-serif; 
    font-size: 100%; 
    line-height: 2; 
    font-weight: 300; 
    letter-spacing: 0px; 
    text-transform: none; 
    font-style: normal;
} 

.is-dark-text { 
    color: #111;
} 

.is-align-center { 
    text-align: center;
} 

.is-boxes { 
    display: flex; 
    flex-flow: row nowrap; 
    flex-grow: 1; 
    width: 100%; 
    height: 100%; 
    position: relative;
} 

.is-light-text *  { 
    color: rgba(255, 255, 255, 0.93);
} 

.is-overlay { 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    right: 0px; 
    bottom: 0px; 
    overflow: hidden;
} 

.is-dark-text *  { 
    color: #000;
} 

.is-box-8 { 
    width: 66.666667%;
} 

.is-align-left { 
    text-align: left;
} 

.is-boxes > div ,.is-box { 
    display: flex; 
    flex-direction: column; 
    flex-grow: 1; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    box-sizing: border-box;
} 

.is-box-4 { 
    width: 33.333333%;
} 

.is-boxes > div.is-content-top ,.is-box.is-content-top,.is-content-top { 
    justify-content: flex-start;
} 

.is-overlay .is-overlay-bg  { 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 50% 60%;
} 

.is-box-centered { 
    width: 100%;
} 

.is-boxes > div  { 
    display: flex; 
    flex-direction: column; 
    flex-grow: 1; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    box-sizing: border-box;
} 

.opacity-0 { 
    opacity: 0 !important;
} 

.is-overlay .is-overlay-color  { 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 100%; 
    height: 100%; 
    background-color: rgb(0, 0, 0); 
    opacity: 0.05;
} 

.size-17 { 
    font-size: 17px !important;
} 

@media (max-width: 1800px){ 
  .size-17 { 
    font-size: clamp(17px, 1.05vw, 1.05vw) !important;
  } 
}     

.leading-13 { 
    line-height: 1.3 !important;
} 

.content-pt-80 { 
    padding-top: 80px !important;
} 

.content-pb-80 { 
    padding-bottom: 80px !important;
} 

.is-container { 
    width: 100%; 
    max-width: 980px; 
    margin: 0 auto; 
    padding: 0 30px; 
    position: relative; 
    margin-left: auto; 
    margin-right: auto; 
    box-sizing: border-box;
} 

.is-container { 
    z-index: 1;
} 

.is-content-1400 { 
    max-width: 74vw;
} 

@media (max-width: 1600px){ 
  .is-content-1400 { 
    max-width: 84vw;
  } 
}     

.is-container { 
    z-index: unset !important;
} 

.is-container.size-17 { 
    font-size: 17px;
} 

.is-wrapper .is-container  { 
    padding-top: 30px; 
    padding-bottom: 30px; 
    margin-top: 0; 
    margin-bottom: 0;
} 

.size-16 { 
    font-size: 16px !important;
} 

@media (max-width: 1800px){ 
  .size-16 { 
    font-size: clamp(16px, 0.99vw, 0.99vw) !important;
  } 
}     

.leading-12 { 
    line-height: 1.2 !important;
} 

.is-content-1660 { 
    max-width: 87vw;
} 

@media (max-width: 1600px){ 
  .is-content-1660 { 
    max-width: 97vw;
  } 
}     

.is-container.size-16 { 
    font-size: 16px;
} 

.size-18 { 
    font-size: 18px !important;
} 

@media (max-width: 1800px){ 
  .size-18 { 
    font-size: clamp(12px, 1.11vw, 1.11vw) !important;
  } 
}     

.leading-14 { 
    line-height: 1.4 !important;
} 

.is-content-1360 { 
    max-width: 72vw;
} 

@media (max-width: 1600px){ 
  .is-content-1360 { 
    max-width: 82vw;
  } 
}     

.is-container.size-18 { 
    font-size: 18px;
} 

.is-content-1200 { 
    max-width: 64vw;
} 

@media (max-width: 1600px){ 
  .is-content-1200 { 
    max-width: 74vw;
  } 
}     

.size-19 { 
    font-size: 19px !important;
} 

@media (max-width: 1800px){ 
  .size-19 { 
    font-size: clamp(19px, 1.17vw, 1.17vw) !important;
  } 
}     

.is-content-1100 { 
    max-width: 59vw;
} 

@media (max-width: 1600px){ 
  .is-content-1100 { 
    max-width: 69vw;
  } 
}     

.is-container.size-19 { 
    font-size: 19px;
} 

@media (min-width: 761px){ 
  .row { 
    display: flex;
  } 
}     

.relative { 
    position: relative;
} 

.items-center { 
    align-items: center !important;
} 

.gap-2 { 
    gap: 2em;
} 

.flex-row-reverse { 
    flex-direction: row-reverse !important;
} 

.is-content-740 { 
    max-width: 39vw;
} 

@media (max-width: 1600px){ 
  .is-content-740 { 
    max-width: 49vw;
  } 
}     

.is-opacity-95 .is-container  { 
    opacity: 0.95;
} 

.column { 
    position: relative; 
    box-sizing: border-box; 
    width: 100%;
} 

@media (min-width: 761px){ 
  .column { 
    padding-left: 1rem; 
    padding-right: 1rem;
  } 

  .column.full { 
    width: 100%;
  } 

  .column.two-fourth { 
    width: 75%;
  } 
}     

.text-center { 
    text-align: center;
} 

@media (min-width: 761px){ 
  .column.fourth { 
    width: 25%;
  } 

  .column.third { 
    width: 33.3%;
  } 
}     

.py-6 { 
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem;
} 

.flex { 
    display: flex !important;
} 

.flex-col { 
    flex-direction: column !important;
} 

.justify-center { 
    justify-content: center !important;
} 

.items-start { 
    align-items: flex-start !important;
} 

@media (min-width: 761px){ 
  .column.half { 
    width: 50%;
  } 
}     

.is-row-overlay { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1; 
    pointer-events: none; 
    user-select: none;
} 

.center { 
    text-align: center;
} 

@media (min-width: 1281px){ 
  body:not(.data-editor) .desktop-hidden  { 
    display: none !important;
  } 
}     

h2 { 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    line-height: 1.4;
} 

h2 { 
    font-size: 2rem; 
    margin: 0.6rem 0;
} 

.size-48 { 
    font-size: 48px !important;
} 

@media (max-width: 1800px){ 
  .size-48 { 
    font-size: clamp(19px, 2.5vw, 2.5vw) !important;
  } 
}     

.font-bold { 
    font-weight: 700 !important;
} 

.italic { 
    font-style: italic !important;
} 

.is-light-text h2  { 
    color: #fff;
} 

.is-container.leading-13 h2  { 
    line-height: 1.2;
} 

.spacer { 
    width: 100%;
} 

.height-80 { 
    height: 80px; 
    flex: none;
} 

@media (max-width: 1440px){ 
  .height-80 { 
    height: 40px;
  } 
}     

img { 
    max-width: 100%;
} 

.height-20 { 
    height: 20px; 
    flex: none;
} 

@media (max-width: 1440px){ 
  .height-20 { 
    height: 10px;
  } 
}     

.height-60 { 
    height: 60px; 
    flex: none;
} 

@media (max-width: 1440px){ 
  .height-60 { 
    height: 30px;
  } 
}     

.height-40 { 
    height: 40px; 
    flex: none;
} 

@media (max-width: 1440px){ 
  .height-40 { 
    height: 20px;
  } 
}     

.height-100 { 
    height: 100px; 
    flex: none;
} 

@media (max-width: 1440px){ 
  .height-100 { 
    height: 50px;
  } 
}     

.size-76 { 
    font-size: 76px !important; 
    overflow-wrap: break-word;
} 

@media (max-width: 1800px){ 
  .size-76 { 
    font-size: clamp(28px, 3.96vw, 3.96vw) !important;
  } 
}     

.type-rufina-oxygen h2  { 
    font-family: 'Rufina', serif; 
    font-weight: 700; 
    letter-spacing: 1px; 
    line-height: 1.5; 
    text-transform: none; 
    font-style: normal;
} 

.type-rufina-oxygen h2  { 
    font-size: 1.25rem; 
    margin: 1.05rem 0 0.3rem;
} 

.type-rufina-oxygen h2  { 
    font-size: 38px;
} 

@media (max-width: 1800px){ 
  .type-rufina-oxygen h2  { 
    font-size: clamp(18px, 1.98vw, 1.98vw);
  } 
}     

.is-container.leading-12 h2  { 
    line-height: 1.1;
} 

.height-140 { 
    height: 140px; 
    flex: none;
} 

@media (max-width: 1440px){ 
  .height-140 { 
    height: 70px;
  } 
}     

.is-card { 
    display: table; 
    background-color: #fff;
} 

.is-card-circle { 
    width: 280px; 
    height: 280px; 
    border-radius: 500px; 
    padding: 70px; 
    margin: 0 auto;
} 

.shadow-1 { 
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),    0 1px 2px rgba(0, 0, 0, 0.24); 
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),    0 1px 2px rgba(0, 0, 0, 0.24); 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),    0 1px 2px rgba(0, 0, 0, 0.24);
} 

h3 { 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    line-height: 1.4;
} 

h3 { 
    font-size: 1.73rem; 
    margin: 0.7rem 0;
} 

.size-28 { 
    font-size: 28px !important;
} 

@media (max-width: 1800px){ 
  .size-28 { 
    font-size: clamp(16px, 1.56vw, 1.56vw) !important;
  } 
}     

.type-rufina-oxygen h3  { 
    font-family: 'Rufina', serif; 
    font-weight: 700; 
    letter-spacing: 1px; 
    line-height: 1.5; 
    text-transform: none; 
    font-style: normal;
} 

.type-rufina-oxygen h3  { 
    font-size: 1rem; 
    margin: 1.2rem 0 0.3rem;
} 

.type-rufina-oxygen h3  { 
    font-size: 28px;
} 

@media (max-width: 1800px){ 
  .type-rufina-oxygen h3  { 
    font-size: clamp(16px, 1.56vw, 1.56vw);
  } 
}     

.is-container.leading-12 h3  { 
    line-height: 1.1;
} 

p { 
    font-size: 16px; 
    line-height: 1.6; 
    font-weight: 300;
} 

p { 
    margin: 1rem 0;
} 

.type-rufina-oxygen p  { 
    font-family: 'Oxygen', sans-serif; 
    font-weight: 300; 
    font-size: 0.93rem; 
    letter-spacing: 0.6px; 
    line-height: 2; 
    text-transform: none; 
    font-style: normal;
} 

.type-rufina-oxygen p  { 
    margin: 0.4rem 0 1rem;
} 

.type-rufina-oxygen p  { 
    font-size: 18px;
} 

@media (max-width: 1800px){ 
  .type-rufina-oxygen p  { 
    font-size: clamp(12px, 1.11vw, 1.11vw);
  } 
}     

.is-container.size-16 p  { 
    font-size: 16px;
} 

@media (max-width: 1800px){ 
  .is-container.size-16 p  { 
    font-size: clamp(12px, 0.99vw, 0.99vw);
  } 
}     

.is-container.leading-12 p  { 
    line-height: 1.2;
} 

.rounded-xl { 
    border-radius: 0.75rem;
} 

.gap-3 { 
    gap: 3em;
} 

.timerbox-with-cta-wrapper { 
    background: url("./images/-noise-course-min-82a51a35f386b9ee79fe40ba96500d55.png"), #C13438; 
    padding: 3em;
} 

h1 { 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    line-height: 1.4;
} 

h1 { 
    font-size: 2.36rem; 
    margin: 0.4rem 0;
} 

.size-64 { 
    font-size: 64px !important; 
    overflow-wrap: break-word;
} 

@media (max-width: 1800px){ 
  .size-64 { 
    font-size: clamp(22px, 3.33vw, 3.33vw) !important;
  } 
}     

.font-normal { 
    font-weight: 400 !important;
} 

.leading-none { 
    line-height: 1 !important;
} 

.type-poppins h1  { 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    letter-spacing: -1px; 
    line-height: 1.5; 
    text-transform: none; 
    font-style: normal;
} 

.type-poppins h1  { 
    font-size: 3.2rem; 
    margin: 0.06rem 0 0.3rem;
} 

.type-poppins h1  { 
    font-size: 50px;
} 

@media (max-width: 1800px){ 
  .type-poppins h1  { 
    font-size: clamp(18px, 2.61vw, 2.61vw);
  } 
}     

.is-container.leading-14 h1  { 
    line-height: 1.2;
} 

.type-poppins p  { 
    font-family: 'Poppins', sans-serif; 
    font-size: 1.11rem; 
    line-height: 2; 
    font-weight: 300; 
    letter-spacing: 0px; 
    text-transform: none; 
    font-style: normal;
} 

.type-poppins p  { 
    margin: 0.7rem 0 1rem;
} 

.type-poppins p  { 
    font-size: 18px;
} 

@media (max-width: 1800px){ 
  .type-poppins p  { 
    font-size: clamp(16px, 1.11vw, 1.11vw);
  } 
}     

.is-container.size-18 p  { 
    font-size: 18px;
} 

@media (max-width: 1800px){ 
  .is-container.size-18 p  { 
    font-size: clamp(18px, 1.11vw, 1.11vw);
  } 
}     

.is-container.leading-14 p  { 
    line-height: 1.4;
} 

.button-group { 
    white-space: nowrap;
} 

.is-light-text h1  { 
    color: #fff;
} 

.is-container.leading-13 h1  { 
    line-height: 1.2;
} 

.list { 
    position: relative; 
    margin: 1.5em 0; 
    box-shadow: none;
} 

.mb-4 { 
    margin-bottom: 1rem;
} 

.rounded-2xl { 
    border-radius: 1rem;
} 

.gap-1 { 
    gap: 1em;
} 

.faq-box { 
    border: 1px solid #150D17; 
    padding: 2em; 
    background-color: #150D17;
} 

.course-cta-box { 
    overflow: hidden; 
    align-items: stretch; 
    background-color: #C13438;
} 

.size-46 { 
    font-size: 46px !important;
} 

@media (max-width: 1800px){ 
  .size-46 { 
    font-size: clamp(28px, 2.4vw, 2.4vw) !important;
  } 
}     

.is-dark-text h2  { 
    color: #111;
} 

.is-container.leading-14 h2  { 
    line-height: 1.2;
} 

.is-dark-text p  { 
    color: #111;
} 

.is-container.size-19 p  { 
    font-size: 19px;
} 

@media (max-width: 1800px){ 
  .is-container.size-19 p  { 
    font-size: clamp(19px, 1.17vw, 1.17vw);
  } 
}     

.column-separator-vertical { 
    align-self: stretch; 
    height: 3.5em; 
    width: 2px; 
    margin: 0 2em 0 1em; 
    background: radial-gradient(grey, #150D17);
} 

a { 
    color: #000;
} 

a { 
    box-sizing: border-box;
} 

.no-underline { 
    -webkit-text-decoration-line: none !important; 
    text-decoration-line: none !important;
} 

.uppercase { 
    text-transform: uppercase !important;
} 

.tracking-75 { 
    letter-spacing: 0.075em !important;
} 

.leading-relaxed { 
    line-height: 1.625 !important;
} 

.px-11 { 
    padding-left: 2.75rem; 
    padding-right: 2.75rem;
} 

.pb-3 { 
    padding-bottom: 0.75rem;
} 

.pt-3 { 
    padding-top: 0.75rem;
} 

.mr-2 { 
    margin-right: 0.5rem;
} 

.mt-2 { 
    margin-top: 0.5rem;
} 

.mb-1 { 
    margin-bottom: 0.25rem;
} 

.inline-block { 
    display: inline-block !important;
} 

.border-solid { 
    border-style: solid;
} 

.border-2 { 
    border-width: 2px;
} 

.border-transparent { 
    border-color: transparent;
} 

.rounded { 
    border-radius: 0.25rem;
} 

.whitespace-nowrap { 
    white-space: nowrap;
} 

.transition-all { 
    transition-property: all; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    transition-duration: 150ms;
} 

.cursor-pointer { 
    cursor: pointer;
} 

[role="button"].size-16 { 
    font-size: 16px !important;
} 

.hover\:border-transparent:hover { 
    border-color: transparent !important;
} 

.is-card > *  { 
    display: table;
} 

.is-card-content-centered { 
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
} 

.size-54 { 
    font-size: 54px !important; 
    overflow-wrap: break-word;
} 

@media (max-width: 1800px){ 
  .size-54 { 
    font-size: clamp(31px, 2.81vw, 2.81vw) !important;
  } 
}     

.not-italic { 
    font-style: normal !important;
} 

.mt-0 { 
    margin-top: 0px;
} 

.mb-0 { 
    margin-bottom: 0px;
} 

.font-semibold { 
    font-weight: 600 !important;
} 

.tracking-tight { 
    letter-spacing: -0.025em !important;
} 

.list > i  { 
    position: absolute; 
    left: -3px; 
    top: 6px; 
    font-size: 1.7em; 
    line-height: 1;
} 

.ion,.ionicons,.ion-alert:before,.ion-alert-circled:before,.ion-android-add:before,.ion-android-add-circle:before,.ion-android-alarm-clock:before,.ion-android-alert:before,.ion-android-apps:before,.ion-android-archive:before,.ion-android-arrow-back:before,.ion-android-arrow-down:before,.ion-android-arrow-dropdown:before,.ion-android-arrow-dropdown-circle:before,.ion-android-arrow-dropleft:before,.ion-android-arrow-dropleft-circle:before,.ion-android-arrow-dropright:before,.ion-android-arrow-dropright-circle:before,.ion-android-arrow-dropup:before,.ion-android-arrow-dropup-circle:before,.ion-android-arrow-forward:before,.ion-android-arrow-up:before,.ion-android-attach:before,.ion-android-bar:before,.ion-android-bicycle:before,.ion-android-boat:before,.ion-android-bookmark:before,.ion-android-bulb:before,.ion-android-bus:before,.ion-android-calendar:before,.ion-android-call:before,.ion-android-camera:before,.ion-android-cancel:before,.ion-android-car:before,.ion-android-cart:before,.ion-android-chat:before,.ion-android-checkbox:before,.ion-android-checkbox-blank:before,.ion-android-checkbox-outline:before,.ion-android-checkbox-outline-blank:before,.ion-android-checkmark-circle:before,.ion-android-clipboard:before,.ion-android-close:before,.ion-android-cloud:before,.ion-android-cloud-circle:before,.ion-android-cloud-done:before,.ion-android-cloud-outline:before,.ion-android-color-palette:before,.ion-android-compass:before,.ion-android-contact:before,.ion-android-contacts:before,.ion-android-contract:before,.ion-android-create:before,.ion-android-delete:before,.ion-android-desktop:before,.ion-android-document:before,.ion-android-done:before,.ion-android-done-all:before,.ion-android-download:before,.ion-android-drafts:before,.ion-android-exit:before,.ion-android-expand:before,.ion-android-favorite:before,.ion-android-favorite-outline:before,.ion-android-film:before,.ion-android-folder:before,.ion-android-folder-open:before,.ion-android-funnel:before,.ion-android-globe:before,.ion-android-hand:before,.ion-android-hangout:before,.ion-android-happy:before,.ion-android-home:before,.ion-android-image:before,.ion-android-laptop:before,.ion-android-list:before,.ion-android-locate:before,.ion-android-lock:before,.ion-android-mail:before,.ion-android-map:before,.ion-android-menu:before,.ion-android-microphone:before,.ion-android-microphone-off:before,.ion-android-more-horizontal:before,.ion-android-more-vertical:before,.ion-android-navigate:before,.ion-android-notifications:before,.ion-android-notifications-none:before,.ion-android-notifications-off:before,.ion-android-open:before,.ion-android-options:before,.ion-android-people:before,.ion-android-person:before,.ion-android-person-add:before,.ion-android-phone-landscape:before,.ion-android-phone-portrait:before,.ion-android-pin:before,.ion-android-plane:before,.ion-android-playstore:before,.ion-android-print:before,.ion-android-radio-button-off:before,.ion-android-radio-button-on:before,.ion-android-refresh:before,.ion-android-remove:before,.ion-android-remove-circle:before,.ion-android-restaurant:before,.ion-android-sad:before,.ion-android-search:before,.ion-android-send:before,.ion-android-settings:before,.ion-android-share:before,.ion-android-share-alt:before,.ion-android-star:before,.ion-android-star-half:before,.ion-android-star-outline:before,.ion-android-stopwatch:before,.ion-android-subway:before,.ion-android-sunny:before,.ion-android-sync:before,.ion-android-textsms:before,.ion-android-time:before,.ion-android-train:before,.ion-android-unlock:before,.ion-android-upload:before,.ion-android-volume-down:before,.ion-android-volume-mute:before,.ion-android-volume-off:before,.ion-android-volume-up:before,.ion-android-walk:before,.ion-android-warning:before,.ion-android-watch:before,.ion-android-wifi:before,.ion-aperture:before,.ion-archive:before,.ion-arrow-down-a:before,.ion-arrow-down-b:before,.ion-arrow-down-c:before,.ion-arrow-expand:before,.ion-arrow-graph-down-left:before,.ion-arrow-graph-down-right:before,.ion-arrow-graph-up-left:before,.ion-arrow-graph-up-right:before,.ion-arrow-left-a:before,.ion-arrow-left-b:before,.ion-arrow-left-c:before,.ion-arrow-move:before,.ion-arrow-resize:before,.ion-arrow-return-left:before,.ion-arrow-return-right:before,.ion-arrow-right-a:before,.ion-arrow-right-b:before,.ion-arrow-right-c:before,.ion-arrow-shrink:before,.ion-arrow-swap:before,.ion-arrow-up-a:before,.ion-arrow-up-b:before,.ion-arrow-up-c:before,.ion-asterisk:before,.ion-at:before,.ion-backspace:before,.ion-backspace-outline:before,.ion-bag:before,.ion-battery-charging:before,.ion-battery-empty:before,.ion-battery-full:before,.ion-battery-half:before,.ion-battery-low:before,.ion-beaker:before,.ion-beer:before,.ion-bluetooth:before,.ion-bonfire:before,.ion-bookmark:before,.ion-bowtie:before,.ion-briefcase:before,.ion-bug:before,.ion-calculator:before,.ion-calendar:before,.ion-camera:before,.ion-card:before,.ion-cash:before,.ion-chatbox:before,.ion-chatbox-working:before,.ion-chatboxes:before,.ion-chatbubble:before,.ion-chatbubble-working:before,.ion-chatbubbles:before,.ion-checkmark:before,.ion-checkmark-circled:before,.ion-checkmark-round:before,.ion-chevron-down:before,.ion-chevron-left:before,.ion-chevron-right:before,.ion-chevron-up:before,.ion-clipboard:before,.ion-clock:before,.ion-close:before,.ion-close-circled:before,.ion-close-round:before,.ion-closed-captioning:before,.ion-cloud:before,.ion-code:before,.ion-code-download:before,.ion-code-working:before,.ion-coffee:before,.ion-compass:before,.ion-compose:before,.ion-connection-bars:before,.ion-contrast:before,.ion-crop:before,.ion-cube:before,.ion-disc:before,.ion-document:before,.ion-document-text:before,.ion-drag:before,.ion-earth:before,.ion-easel:before,.ion-edit:before,.ion-egg:before,.ion-eject:before,.ion-email:before,.ion-email-unread:before,.ion-erlenmeyer-flask:before,.ion-erlenmeyer-flask-bubbles:before,.ion-eye:before,.ion-eye-disabled:before,.ion-female:before,.ion-filing:before,.ion-film-marker:before,.ion-fireball:before,.ion-flag:before,.ion-flame:before,.ion-flash:before,.ion-flash-off:before,.ion-folder:before,.ion-fork:before,.ion-fork-repo:before,.ion-forward:before,.ion-funnel:before,.ion-gear-a:before,.ion-gear-b:before,.ion-grid:before,.ion-hammer:before,.ion-happy:before,.ion-happy-outline:before,.ion-headphone:before,.ion-heart:before,.ion-heart-broken:before,.ion-help:before,.ion-help-buoy:before,.ion-help-circled:before,.ion-home:before,.ion-icecream:before,.ion-image:before,.ion-images:before,.ion-information:before,.ion-information-circled:before,.ion-ionic:before,.ion-ios-alarm:before,.ion-ios-alarm-outline:before,.ion-ios-albums:before,.ion-ios-albums-outline:before,.ion-ios-americanfootball:before,.ion-ios-americanfootball-outline:before,.ion-ios-analytics:before,.ion-ios-analytics-outline:before,.ion-ios-arrow-back:before,.ion-ios-arrow-down:before,.ion-ios-arrow-forward:before,.ion-ios-arrow-left:before,.ion-ios-arrow-right:before,.ion-ios-arrow-thin-down:before,.ion-ios-arrow-thin-left:before,.ion-ios-arrow-thin-right:before,.ion-ios-arrow-thin-up:before,.ion-ios-arrow-up:before,.ion-ios-at:before,.ion-ios-at-outline:before,.ion-ios-barcode:before,.ion-ios-barcode-outline:before,.ion-ios-baseball:before,.ion-ios-baseball-outline:before,.ion-ios-basketball:before,.ion-ios-basketball-outline:before,.ion-ios-bell:before,.ion-ios-bell-outline:before,.ion-ios-body:before,.ion-ios-body-outline:before,.ion-ios-bolt:before,.ion-ios-bolt-outline:before,.ion-ios-book:before,.ion-ios-book-outline:before,.ion-ios-bookmarks:before,.ion-ios-bookmarks-outline:before,.ion-ios-box:before,.ion-ios-box-outline:before,.ion-ios-briefcase:before,.ion-ios-briefcase-outline:before,.ion-ios-browsers:before,.ion-ios-browsers-outline:before,.ion-ios-calculator:before,.ion-ios-calculator-outline:before,.ion-ios-calendar:before,.ion-ios-calendar-outline:before,.ion-ios-camera:before,.ion-ios-camera-outline:before,.ion-ios-cart:before,.ion-ios-cart-outline:before,.ion-ios-chatboxes:before,.ion-ios-chatboxes-outline:before,.ion-ios-chatbubble:before,.ion-ios-chatbubble-outline:before,.ion-ios-checkmark:before,.ion-ios-checkmark-empty:before,.ion-ios-checkmark-outline:before,.ion-ios-circle-filled:before,.ion-ios-circle-outline:before,.ion-ios-clock:before,.ion-ios-clock-outline:before,.ion-ios-close:before,.ion-ios-close-empty:before,.ion-ios-close-outline:before,.ion-ios-cloud:before,.ion-ios-cloud-download:before,.ion-ios-cloud-download-outline:before,.ion-ios-cloud-outline:before,.ion-ios-cloud-upload:before,.ion-ios-cloud-upload-outline:before,.ion-ios-cloudy:before,.ion-ios-cloudy-night:before,.ion-ios-cloudy-night-outline:before,.ion-ios-cloudy-outline:before,.ion-ios-cog:before,.ion-ios-cog-outline:before,.ion-ios-color-filter:before,.ion-ios-color-filter-outline:before,.ion-ios-color-wand:before,.ion-ios-color-wand-outline:before,.ion-ios-compose:before,.ion-ios-compose-outline:before,.ion-ios-contact:before,.ion-ios-contact-outline:before,.ion-ios-copy:before,.ion-ios-copy-outline:before,.ion-ios-crop:before,.ion-ios-crop-strong:before,.ion-ios-download:before,.ion-ios-download-outline:before,.ion-ios-drag:before,.ion-ios-email:before,.ion-ios-email-outline:before,.ion-ios-eye:before,.ion-ios-eye-outline:before,.ion-ios-fastforward:before,.ion-ios-fastforward-outline:before,.ion-ios-filing:before,.ion-ios-filing-outline:before,.ion-ios-film:before,.ion-ios-film-outline:before,.ion-ios-flag:before,.ion-ios-flag-outline:before,.ion-ios-flame:before,.ion-ios-flame-outline:before,.ion-ios-flask:before,.ion-ios-flask-outline:before,.ion-ios-flower:before,.ion-ios-flower-outline:before,.ion-ios-folder:before,.ion-ios-folder-outline:before,.ion-ios-football:before,.ion-ios-football-outline:before,.ion-ios-game-controller-a:before,.ion-ios-game-controller-a-outline:before,.ion-ios-game-controller-b:before,.ion-ios-game-controller-b-outline:before,.ion-ios-gear:before,.ion-ios-gear-outline:before,.ion-ios-glasses:before,.ion-ios-glasses-outline:before,.ion-ios-grid-view:before,.ion-ios-grid-view-outline:before,.ion-ios-heart:before,.ion-ios-heart-outline:before,.ion-ios-help:before,.ion-ios-help-empty:before,.ion-ios-help-outline:before,.ion-ios-home:before,.ion-ios-home-outline:before,.ion-ios-infinite:before,.ion-ios-infinite-outline:before,.ion-ios-information:before,.ion-ios-information-empty:before,.ion-ios-information-outline:before,.ion-ios-ionic-outline:before,.ion-ios-keypad:before,.ion-ios-keypad-outline:before,.ion-ios-lightbulb:before,.ion-ios-lightbulb-outline:before,.ion-ios-list:before,.ion-ios-list-outline:before,.ion-ios-location:before,.ion-ios-location-outline:before,.ion-ios-locked:before,.ion-ios-locked-outline:before,.ion-ios-loop:before,.ion-ios-loop-strong:before,.ion-ios-medical:before,.ion-ios-medical-outline:before,.ion-ios-medkit:before,.ion-ios-medkit-outline:before,.ion-ios-mic:before,.ion-ios-mic-off:before,.ion-ios-mic-outline:before,.ion-ios-minus:before,.ion-ios-minus-empty:before,.ion-ios-minus-outline:before,.ion-ios-monitor:before,.ion-ios-monitor-outline:before,.ion-ios-moon:before,.ion-ios-moon-outline:before,.ion-ios-more:before,.ion-ios-more-outline:before,.ion-ios-musical-note:before,.ion-ios-musical-notes:before,.ion-ios-navigate:before,.ion-ios-navigate-outline:before,.ion-ios-nutrition:before,.ion-ios-nutrition-outline:before,.ion-ios-paper:before,.ion-ios-paper-outline:before,.ion-ios-paperplane:before,.ion-ios-paperplane-outline:before,.ion-ios-partlysunny:before,.ion-ios-partlysunny-outline:before,.ion-ios-pause:before,.ion-ios-pause-outline:before,.ion-ios-paw:before,.ion-ios-paw-outline:before,.ion-ios-people:before,.ion-ios-people-outline:before,.ion-ios-person:before,.ion-ios-person-outline:before,.ion-ios-personadd:before,.ion-ios-personadd-outline:before,.ion-ios-photos:before,.ion-ios-photos-outline:before,.ion-ios-pie:before,.ion-ios-pie-outline:before,.ion-ios-pint:before,.ion-ios-pint-outline:before,.ion-ios-play:before,.ion-ios-play-outline:before,.ion-ios-plus:before,.ion-ios-plus-empty:before,.ion-ios-plus-outline:before,.ion-ios-pricetag:before,.ion-ios-pricetag-outline:before,.ion-ios-pricetags:before,.ion-ios-pricetags-outline:before,.ion-ios-printer:before,.ion-ios-printer-outline:before,.ion-ios-pulse:before,.ion-ios-pulse-strong:before,.ion-ios-rainy:before,.ion-ios-rainy-outline:before,.ion-ios-recording:before,.ion-ios-recording-outline:before,.ion-ios-redo:before,.ion-ios-redo-outline:before,.ion-ios-refresh:before,.ion-ios-refresh-empty:before,.ion-ios-refresh-outline:before,.ion-ios-reload:before,.ion-ios-reverse-camera:before,.ion-ios-reverse-camera-outline:before,.ion-ios-rewind:before,.ion-ios-rewind-outline:before,.ion-ios-rose:before,.ion-ios-rose-outline:before,.ion-ios-search:before,.ion-ios-search-strong:before,.ion-ios-settings:before,.ion-ios-settings-strong:before,.ion-ios-shuffle:before,.ion-ios-shuffle-strong:before,.ion-ios-skipbackward:before,.ion-ios-skipbackward-outline:before,.ion-ios-skipforward:before,.ion-ios-skipforward-outline:before,.ion-ios-snowy:before,.ion-ios-speedometer:before,.ion-ios-speedometer-outline:before,.ion-ios-star:before,.ion-ios-star-half:before,.ion-ios-star-outline:before,.ion-ios-stopwatch:before,.ion-ios-stopwatch-outline:before,.ion-ios-sunny:before,.ion-ios-sunny-outline:before,.ion-ios-telephone:before,.ion-ios-telephone-outline:before,.ion-ios-tennisball:before,.ion-ios-tennisball-outline:before,.ion-ios-thunderstorm:before,.ion-ios-thunderstorm-outline:before,.ion-ios-time:before,.ion-ios-time-outline:before,.ion-ios-timer:before,.ion-ios-timer-outline:before,.ion-ios-toggle:before,.ion-ios-toggle-outline:before,.ion-ios-trash:before,.ion-ios-trash-outline:before,.ion-ios-undo:before,.ion-ios-undo-outline:before,.ion-ios-unlocked:before,.ion-ios-unlocked-outline:before,.ion-ios-upload:before,.ion-ios-upload-outline:before,.ion-ios-videocam:before,.ion-ios-videocam-outline:before,.ion-ios-volume-high:before,.ion-ios-volume-low:before,.ion-ios-wineglass:before,.ion-ios-wineglass-outline:before,.ion-ios-world:before,.ion-ios-world-outline:before,.ion-ipad:before,.ion-iphone:before,.ion-ipod:before,.ion-jet:before,.ion-key:before,.ion-knife:before,.ion-laptop:before,.ion-leaf:before,.ion-levels:before,.ion-lightbulb:before,.ion-link:before,.ion-load-a:before,.ion-load-b:before,.ion-load-c:before,.ion-load-d:before,.ion-location:before,.ion-lock-combination:before,.ion-locked:before,.ion-log-in:before,.ion-log-out:before,.ion-loop:before,.ion-magnet:before,.ion-male:before,.ion-man:before,.ion-map:before,.ion-medkit:before,.ion-merge:before,.ion-mic-a:before,.ion-mic-b:before,.ion-mic-c:before,.ion-minus:before,.ion-minus-circled:before,.ion-minus-round:before,.ion-model-s:before,.ion-monitor:before,.ion-more:before,.ion-mouse:before,.ion-music-note:before,.ion-navicon:before,.ion-navicon-round:before,.ion-navigate:before,.ion-network:before,.ion-no-smoking:before,.ion-nuclear:before,.ion-outlet:before,.ion-paintbrush:before,.ion-paintbucket:before,.ion-paper-airplane:before,.ion-paperclip:before,.ion-pause:before,.ion-person:before,.ion-person-add:before,.ion-person-stalker:before,.ion-pie-graph:before,.ion-pin:before,.ion-pinpoint:before,.ion-pizza:before,.ion-plane:before,.ion-planet:before,.ion-play:before,.ion-playstation:before,.ion-plus:before,.ion-plus-circled:before,.ion-plus-round:before,.ion-podium:before,.ion-pound:before,.ion-power:before,.ion-pricetag:before,.ion-pricetags:before,.ion-printer:before,.ion-pull-request:before,.ion-qr-scanner:before,.ion-quote:before,.ion-radio-waves:before,.ion-record:before,.ion-refresh:before,.ion-reply:before,.ion-reply-all:before,.ion-ribbon-a:before,.ion-ribbon-b:before,.ion-sad:before,.ion-sad-outline:before,.ion-scissors:before,.ion-search:before,.ion-settings:before,.ion-share:before,.ion-shuffle:before,.ion-skip-backward:before,.ion-skip-forward:before,.ion-social-android:before,.ion-social-android-outline:before,.ion-social-angular:before,.ion-social-angular-outline:before,.ion-social-apple:before,.ion-social-apple-outline:before,.ion-social-bitcoin:before,.ion-social-bitcoin-outline:before,.ion-social-buffer:before,.ion-social-buffer-outline:before,.ion-social-chrome:before,.ion-social-chrome-outline:before,.ion-social-codepen:before,.ion-social-codepen-outline:before,.ion-social-css3:before,.ion-social-css3-outline:before,.ion-social-designernews:before,.ion-social-designernews-outline:before,.ion-social-dribbble:before,.ion-social-dribbble-outline:before,.ion-social-dropbox:before,.ion-social-dropbox-outline:before,.ion-social-euro:before,.ion-social-euro-outline:before,.ion-social-facebook:before,.ion-social-facebook-outline:before,.ion-social-foursquare:before,.ion-social-foursquare-outline:before,.ion-social-freebsd-devil:before,.ion-social-github:before,.ion-social-github-outline:before,.ion-social-google:before,.ion-social-google-outline:before,.ion-social-googleplus:before,.ion-social-googleplus-outline:before,.ion-social-hackernews:before,.ion-social-hackernews-outline:before,.ion-social-html5:before,.ion-social-html5-outline:before,.ion-social-instagram:before,.ion-social-instagram-outline:before,.ion-social-javascript:before,.ion-social-javascript-outline:before,.ion-social-linkedin:before,.ion-social-linkedin-outline:before,.ion-social-markdown:before,.ion-social-nodejs:before,.ion-social-octocat:before,.ion-social-pinterest:before,.ion-social-pinterest-outline:before,.ion-social-python:before,.ion-social-reddit:before,.ion-social-reddit-outline:before,.ion-social-rss:before,.ion-social-rss-outline:before,.ion-social-sass:before,.ion-social-skype:before,.ion-social-skype-outline:before,.ion-social-snapchat:before,.ion-social-snapchat-outline:before,.ion-social-tumblr:before,.ion-social-tumblr-outline:before,.ion-social-tux:before,.ion-social-twitch:before,.ion-social-twitch-outline:before,.ion-social-twitter:before,.ion-social-twitter-outline:before,.ion-social-usd:before,.ion-social-usd-outline:before,.ion-social-vimeo:before,.ion-social-vimeo-outline:before,.ion-social-whatsapp:before,.ion-social-whatsapp-outline:before,.ion-social-windows:before,.ion-social-windows-outline:before,.ion-social-wordpress:before,.ion-social-wordpress-outline:before,.ion-social-yahoo:before,.ion-social-yahoo-outline:before,.ion-social-yen:before,.ion-social-yen-outline:before,.ion-social-youtube:before,.ion-social-youtube-outline:before,.ion-soup-can:before,.ion-soup-can-outline:before,.ion-speakerphone:before,.ion-speedometer:before,.ion-spoon:before,.ion-star:before,.ion-stats-bars:before,.ion-steam:before,.ion-stop:before,.ion-thermometer:before,.ion-thumbsdown:before,.ion-thumbsup:before,.ion-toggle:before,.ion-toggle-filled:before,.ion-transgender:before,.ion-trash-a:before,.ion-trash-b:before,.ion-trophy:before,.ion-tshirt:before,.ion-tshirt-outline:before,.ion-umbrella:before,.ion-university:before,.ion-unlocked:before,.ion-upload:before,.ion-usb:before,.ion-videocamera:before,.ion-volume-high:before,.ion-volume-low:before,.ion-volume-medium:before,.ion-volume-mute:before,.ion-wand:before,.ion-waterdrop:before,.ion-wifi:before,.ion-wineglass:before,.ion-woman:before,.ion-wrench:before,.ion-xbox:before { 
    display: inline-block; 
    font-family: 'Ionicons'; 
    speak: none; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    text-rendering: auto; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.ion-checkmark:before { 
    content: '\f122';
} 

.list > h3  { 
    margin: 0 0 0 50px !important; 
    line-height: 1.2 !important;
} 

.is-light-text h3  { 
    color: #fff;
} 

.is-container.leading-13 h3  { 
    line-height: 1.2;
} 

.list > p  { 
    margin: 5px 0 0 50px !important;
} 

.is-light-text p  { 
    color: #fff;
} 

.is-container.size-17 p  { 
    font-size: 17px;
} 

@media (max-width: 1800px){ 
  .is-container.size-17 p  { 
    font-size: clamp(17px, 1.05vw, 1.05vw);
  } 
}     

.is-container.leading-13 p  { 
    line-height: 1.3;
} 

.size-24 { 
    font-size: 24px !important;
} 

@media (max-width: 1800px){ 
  .size-24 { 
    font-size: clamp(22px, 1.48vw, 1.48vw) !important;
  } 
}     

.course-cta-media { 
    width: 36%; 
    display: block; 
    flex-shrink: 0;
} 

.course-cta-content { 
    padding: 3em;
} 

.font-light { 
    font-weight: 300 !important;
} 

.height-120 { 
    height: 120px; 
    flex: none;
} 

@media (max-width: 1440px){ 
  .height-120 { 
    height: 60px;
  } 
}     

h4 { 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    line-height: 1.4;
} 

h4 { 
    font-size: 1.6rem; 
    margin: 0.8rem 0;
} 

.is-light-text h4  { 
    color: #fff;
} 

.is-container.leading-12 h4  { 
    line-height: 1.1;
} 

.size-68 { 
    font-size: 68px !important; 
    overflow-wrap: break-word;
} 

@media (max-width: 1800px){ 
  .size-68 { 
    font-size: clamp(34px, 3.54vw, 3.54vw) !important;
  } 
}     

.is-container.leading-12 h1  { 
    line-height: 1.1;
} 

.p-4 { 
    padding: 1rem;
} 

.banner-pointer { 
    background-color: rgba(255, 255, 255, 0.10); 
    column-gap: 1rem;
} 

.happy-learners { 
    gap: 1em;
} 

.size-20 { 
    font-size: 20px !important;
} 

@media (max-width: 1800px){ 
  .size-20 { 
    font-size: clamp(20px, 1.23vw, 1.23vw) !important;
  } 
}     

.text-left { 
    text-align: left;
} 

.size-42 { 
    font-size: 42px !important;
} 

@media (max-width: 1800px){ 
  .size-42 { 
    font-size: clamp(27px, 2.19vw, 2.19vw) !important;
  } 
}     

.ion-android-bulb:before { 
    content: '\f36c';
} 

.ion-code:before { 
    content: '\f271';
} 

.ion-android-options:before { 
    content: '\f39d';
} 

.ion-archive:before { 
    content: '\f102';
} 

.gap-_5 { 
    gap: 0.5em;
} 

.course-cta-media-height { 
    position: relative; 
    padding-top: 100%; 
    display: block; 
    overflow: hidden;
} 

.size-32 { 
    font-size: 32px !important;
} 

@media (max-width: 1800px){ 
  .size-32 { 
    font-size: clamp(24px, 1.64vw, 1.64vw) !important;
  } 
}     

.size-21 { 
    font-size: 21px !important;
} 

@media (max-width: 1800px){ 
  .size-21 { 
    font-size: clamp(21px, 1.29vw, 1.29vw) !important;
  } 
}     

.px-8 { 
    padding-left: 2rem; 
    padding-right: 2rem;
} 

.pb-5 { 
    padding-bottom: 1.25rem;
} 

.pt-5 { 
    padding-top: 1.25rem;
} 

.ml-0 { 
    margin-left: 0px;
} 

.mr-0 { 
    margin-right: 0px;
} 

.rounded-lg { 
    border-radius: 0.5rem;
} 

[role="button"].size-21 { 
    font-size: 21px !important;
} 

.size-84 { 
    font-size: 84px !important; 
    overflow-wrap: break-word;
} 

@media (max-width: 1800px){ 
  .size-84 { 
    font-size: clamp(20px, 4.38vw, 4.38vw) !important;
  } 
}     

.text-highlight { 
    position: relative; 
    color: #C13438; 
    overflow: hidden;
} 

.banner-pointer img  { 
    width: 2rem; 
    height: 2rem; 
    object-fit: contain;
} 

.font-medium { 
    font-weight: 500 !important;
} 

.underline { 
    -webkit-text-decoration-line: underline !important; 
    text-decoration-line: underline !important;
} 

.ion-android-star:before { 
    content: '\f2fc';
} 

.ml-1 { 
    margin-left: 0.25rem;
} 

.mr-4 { 
    margin-right: 1rem;
} 

.px-7 { 
    padding-left: 1.75rem; 
    padding-right: 1.75rem;
} 

.course-cta-media-img { 
    position: absolute; 
    inset: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center center;
} 

.text-highlight img  { 
    position: absolute; 
    bottom: -42px; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    display: block;
} 

.rounded-full { 
    border-radius: 9999px;
} 

.happy-learners-avatar-group img  { 
    width: 3em; 
    height: 3em; 
    object-fit: cover; 
    object-position: center; 
    border: 2px solid #231926;
} 

.ion-ios-videocam:before { 
    content: '\f4cd';
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-R7ZFW.style-R7ZFW {  
   background-color: rgb(47, 60, 69);  
}  
#style-Raos3.style-Raos3 {  
   background-image: url("https://tagmango.com/staticassets/-noise-course-min-0404614707467ed050ef81d9eac640c3.png");  
    background-position: 50% 60%;  
}  
#style-VBQnH.style-VBQnH {  
   font-family: "Open Sans", sans-serif;  
    color: rgb(247, 247, 247);  
}  
#style-VN1vV.style-VN1vV {  
   width: 100%;  
    flex: 0 0 auto;  
}  
#style-profG.style-profG {  
   font-family: Montserrat, sans-serif;  
}  
#style-o6n3w.style-o6n3w {  
   color: rgb(247, 247, 247);  
}  
#style-9OvBG.style-9OvBG {  
   color: rgb(239, 129, 95);  
}  
#style-yNbao.style-yNbao {  
   font-family: "Open Sans", sans-serif;  
}  
#style-TUjZo.style-TUjZo {  
   color: rgb(247, 247, 247);  
}  
#style-AxaAV.style-AxaAV {  
   color: rgb(29, 29, 29);  
}  
#style-YYlzw.style-YYlzw {  
   font-family: "Open Sans", sans-serif;  
}  
#style-EKDpb.style-EKDpb {  
   font-family: "Open Sans", sans-serif;  
}  
#style-GMnl8.style-GMnl8 {  
   display: block;  
    font-family: "Open Sans", sans-serif;  
}  
#style-TWMbB.style-TWMbB {  
   background-color: rgb(60, 77, 201);  
}  
#style-5h6ji.style-5h6ji {  
   color: rgb(255, 255, 255);  
}  
#style-2Ldb2.style-2Ldb2 {  
   color: rgb(249, 246, 245);  
}  
#style-zPeiT.style-zPeiT {  
   position: fixed;  
    top: 1em;  
    right: 1em;  
    z-index: 9;  
}  
#style-SYoyC.style-SYoyC {  
   background-image: url("https://tagmango.com/staticassets/-img_6193-7fb9f15c8bf40728a86973f840699a36.JPG");  
    background-position: 50% 60%;  
}  
#style-ooBez.style-ooBez {  
   background-color: rgb(202, 217, 214);  
}  
#style-2Txy5.style-2Txy5 {  
   background-image: url("./images/-noise-course-min-82a51a35f386b9ee79fe40ba96500d55.png");  
    background-position: 50% 60%;  
}  
#style-omOWR.style-omOWR {  
   margin-bottom: 0.5em;  
    color: rgb(0, 0, 0);  
    font-family: "Noto Serif", serif;  
}  
#style-TBawy.style-TBawy {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
#style-MmRIK.style-MmRIK {  
   background-color: rgb(47, 60, 69);  
}  
#style-hOICw.style-hOICw {  
   background-image: url("./images/-noise-course-min-82a51a35f386b9ee79fe40ba96500d55.png");  
    background-size: contain !important;  
    background-repeat: repeat;  
}  
#style-Kk9Z9.style-Kk9Z9 {  
   margin-bottom: 0.5em;  
    font-family: "Noto Serif", serif;  
    color: rgb(247, 192, 175);  
}  
#style-wf8hT.style-wf8hT {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
#style-5dBpx.style-5dBpx {  
   margin-bottom: 0.5em;  
    font-family: "Noto Serif TC", serif;  
    color: rgb(247, 192, 175);  
}  
#style-mnnvX.style-mnnvX {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
#style-TvYEs.style-TvYEs {  
   background-color: rgb(202, 217, 214);  
}  
#style-Ap4rV.style-Ap4rV {  
   font-family: "Noto Serif TC", serif;  
}  
#style-HZGKG.style-HZGKG {  
   width:120px;  
   height:120px;  
   padding:10px;  
}  
#style-Qbf6M.style-Qbf6M {  
   width:120px;  
   height:120px;  
   padding:10px;  
}  
#style-CYofC.style-CYofC {  
   width:120px;  
   height:120px;  
   padding:10px;  
}  
#style-jJ6J4.style-jJ6J4 {  
   width:120px;  
   height:120px;  
   padding:10px;  
}  
#style-ZYTQl.style-ZYTQl {  
   background-color: rgb(47, 60, 69);  
}  
#style-hdQmw.style-hdQmw {  
   background-image: url("https://tagmango.com/staticassets/-testimonials-1-85a722a8299f025b25f52d17248af779.png");  
    background-position: 50% 60%;  
}  
#style-3RLjx.style-3RLjx {  
   margin-bottom: 1em;  
    color: rgb(247, 247, 247);  
    font-family: "Noto Serif TC", serif;  
}  
#style-l919r.style-l919r {  
   margin: 0;  
   float: left;  
}  
#style-d7OgP.style-d7OgP {  
   margin: 0;  
   float: left;  
}  
#style-kyCN9.style-kyCN9 {  
   margin: 0;  
   float: left;  
}  
#style-vVdz5.style-vVdz5 {  
   margin: 0;  
   float: left;  
}  
#style-hkxVt.style-hkxVt {  
   margin: 0;  
   float: left;  
}  
#style-TONKU.style-TONKU {  
   margin: 0;  
   float: left;  
}  
#style-UUkMC.style-UUkMC {  
   background-color: rgb(202, 217, 214);  
}  
#style-ULyBO.style-ULyBO {  
   color: rgb(0, 0, 0);  
}  
#style-Bio18.style-Bio18 {  
   background-color: rgb(60, 77, 201);  
    color: rgb(247, 247, 247);  
}  
#style-LDc4v.style-LDc4v {  
   color: rgb(29, 29, 29);  
}  
#style-PbBao.style-PbBao {  
   background-color: rgb(202, 217, 214);  
}  
#style-4OM1c.style-4OM1c {  
   max-width: 500px;  
}  
#style-PCWyy.style-PCWyy {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
#style-sgWdx.style-sgWdx {  
   overflow: visible !important;  
}  
#style-2gKfJ.style-2gKfJ {  
   background-color: rgb(47, 60, 69);  
}  
#style-NLN1l.style-NLN1l {  
   background-image: url("./images/-noise-course-min-82a51a35f386b9ee79fe40ba96500d55.png");  
    background-position: 50% 60%;  
    background-size: contain !important;  
    background-repeat: repeat;  
}  
#style-okamq.style-okamq {  
   font-family: "Noto Serif TC", serif;  
}  
#style-Dmr9S.style-Dmr9S {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
#style-EKvND.style-EKvND {  
   background-color: rgb(202, 217, 214);  
}  
#style-cwHnf.style-cwHnf {  
   background-image: url("./images/-noise-course-min-82a51a35f386b9ee79fe40ba96500d55.png");  
    background-position: 50% 60%;  
}  
#style-RAwgy.style-RAwgy {  
   margin-bottom: 1em;  
    font-family: "Noto Serif TC", serif;  
    color: rgb(53, 16, 5);  
}  
#style-wEryy.style-wEryy {  
   background-color: rgb(194, 139, 124);  
}  
#style-atkeC.style-atkeC {  
   background-color: rgb(194, 139, 124);  
}  
#style-zxHQ5.style-zxHQ5 {  
   background-color: rgb(194, 139, 124);  
}  
#style-KR3o7.style-KR3o7 {  
   background-color: rgb(194, 139, 124);  
}  
#style-dJIy7.style-dJIy7 {  
   background-color: rgb(194, 139, 124);  
}  
#style-NCKtG.style-NCKtG {  
   background-color: rgb(194, 139, 124);  
}  
#style-JbZOt.style-JbZOt {  
   background-color: rgb(53, 53, 53);  
}  
#style-EeDTY.style-EeDTY {  
   background-color: rgb(53, 53, 53);  
}  
#style-QD2F7.style-QD2F7 {  
   margin-bottom: 0.25em;  
}  
#style-TozX4.style-TozX4 {  
   color: rgb(247, 247, 247);  
    background-color: rgb(83, 98, 208);  
}  
#style-RnGPv.style-RnGPv {  
   background-color: rgb(53, 53, 53);  
}  
#style-nCbpS.style-nCbpS {  
   background-color: rgb(47, 60, 69);  
}  
#style-K8hCz.style-K8hCz {  
   min-height: 101.369px;  
}  
#style-msqpJ.style-msqpJ {  
   font-family: "Noto Serif", serif;  
}  
#style-aZw89.style-aZw89 {  
   color: rgb(247, 247, 247);  
}  
#style-zoiKh.style-zoiKh {  
   border-bottom: 2px solid #333;  
    width: 40px;  
    display: inline-block;  
}  
#style-gcUTy.style-gcUTy {  
   color: rgb(247, 247, 247);  
}  
#style-x1BGD.style-x1BGD {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#style-ePVz8.style-ePVz8 {  
/*   background-color: rgb(47, 60, 69);  */
    background: linear-gradient(90deg, rgba(160,32,240,1) 21%, rgba(213,231,197,1) 100%);

}  
#style-gTPUW.style-gTPUW {  
   background-image: url("https://tagmango.com/staticassets/-noise-course-min-0404614707467ed050ef81d9eac640c3.png");  
    background-position: 50% 60%;  
}  
#style-T3ykc.style-T3ykc {  
   font-family: "Open Sans", sans-serif;  
    color: rgb(247, 247, 247);  
}  
#style-XSA35.style-XSA35 {  
   width: 100%;  
    flex: 0 0 auto;  
}  
#style-rcJLr.style-rcJLr {  
   font-family: Montserrat, sans-serif;  
}  
#style-qGCor.style-qGCor {  
   color: rgb(247, 247, 247);  
}  
#style-xsmQo.style-xsmQo {  
   color: rgb(239, 129, 95);  
}  
#style-I3pph.style-I3pph {  
   font-family: "Open Sans", sans-serif;  
}  
/*#style-yzdrf.style-yzdrf {  
   color: rgb(247, 247, 247);  
}  */
#style-PhkRx.style-PhkRx {  
   color: rgb(29, 29, 29);  
}  
#style-7F8d3.style-7F8d3 {  
   font-family: "Open Sans", sans-serif;  
}  
#style-FAcUf.style-FAcUf {  
   font-family: "Open Sans", sans-serif;  
}  
#style-OY1do.style-OY1do {  
   display: block;  
    font-family: "Open Sans", sans-serif;  
}  
#style-IIvVG.style-IIvVG {  
   background-color: rgb(60, 77, 201);  
}  
#style-NfHT1.style-NfHT1 {  
   color: rgb(255, 255, 255);  
}  
#style-SMgcW.style-SMgcW {  
   color: rgb(249, 246, 245);  
}  
#style-rE7Io.style-rE7Io {  
   position: fixed;  
    top: 1em;  
    right: 1em;  
    z-index: 9;  
}  
/*#style-dE9c1.style-dE9c1 {  
   background-image: url("./images/iim-logo.png");  
    background-position: 50% 60%;  
}*/  
#style-dE9c1.style-dE9c1 img {  
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} 
#style-m1PA5.style-m1PA5 {  
   background-color: rgb(202, 217, 214);  
}  
#style-i3EBf.style-i3EBf {  
   background-image: url("./images/-noise-course-min-82a51a35f386b9ee79fe40ba96500d55.png");  
    background-position: 50% 60%;  
}  
#style-67MmQ.style-67MmQ {  
   margin-bottom: 0.5em;  
    color: rgb(0, 0, 0);  
    font-family: "Noto Serif", serif;  
}  
#style-OHUot.style-OHUot {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
#style-DJLLU.style-DJLLU {  
   background-color: rgb(47, 60, 69);  
}  
#style-iYnGK.style-iYnGK {  
   background-image: url("./images/-noise-course-min-82a51a35f386b9ee79fe40ba96500d55.png");  
    background-size: contain !important;  
    background-repeat: repeat;  
}  
#style-kh1Jk.style-kh1Jk {  
   margin-bottom: 0.5em;  
    font-family: "Noto Serif", serif;  
    color: rgb(247, 192, 175);  
}  
#style-BoIoV.style-BoIoV {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
#style-SDjMR.style-SDjMR {  
   margin-bottom: 0.5em;  
    font-family: "Noto Serif TC", serif;  
    color: rgb(42 173 107);
    font-weight: 500;
}  
#style-LxpDi.style-LxpDi {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
#style-T4FaH.style-T4FaH {  
/*   background-color: rgb(202, 217, 214);  */
   background-color: #E4FFEC;
}  
#style-2wsWv.style-2wsWv {  
   font-family: "Noto Serif TC", serif;  
}  
#style-KBwIo.style-KBwIo {  
   width:120px;  
   height:120px;  
   padding:10px;  
}  
#style-632vp.style-632vp {  
   width:120px;  
   height:120px;  
   padding:10px;  
}  
#style-pWeM1.style-pWeM1 {  
   width:120px;  
   height:120px;  
   padding:10px;  
}  
#style-DMyah.style-DMyah {  
   width:120px;  
   height:120px;  
   padding:10px;  
}  
#style-lxMKd.style-lxMKd {  
   background-color: rgb(47, 60, 69);  
}  
#style-h9DDx.style-h9DDx {  
   background-image: url("https://tagmango.com/staticassets/-testimonials-1-85a722a8299f025b25f52d17248af779.png");  
    background-position: 50% 60%;  
}  
#style-rHb83.style-rHb83 {  
   margin-bottom: 1em;  
    color: rgb(247, 247, 247);  
    font-family: "Noto Serif TC", serif;  
}  
#style-R1ibQ.style-R1ibQ {  
   margin: 0;  
   float: left;  
}  
#style-Uitpl.style-Uitpl {  
   margin: 0;  
   float: left;  
}  
#style-Cq8Yl.style-Cq8Yl {  
   margin: 0;  
   float: left;  
}  
#style-xgB9n.style-xgB9n {  
   margin: 0;  
   float: left;  
}  
#style-5m996.style-5m996 {  
   margin: 0;  
   float: left;  
}  
#style-68cb4.style-68cb4 {  
   margin: 0;  
   float: left;  
}  
#style-BVr9A.style-BVr9A {  
   background-color: rgb(202, 217, 214);  
}  
#style-zUboz.style-zUboz {  
   color: rgb(0, 0, 0);  
}  
#style-HFenB.style-HFenB {  
   background-color: rgb(60, 77, 201);  
    color: rgb(247, 247, 247);  
}  
#style-Qgokn.style-Qgokn {  
   color: rgb(29, 29, 29);  
}  
#style-Pairs.style-Pairs {  
   background-color: rgb(202, 217, 214);  
}  
#style-gI6A3.style-gI6A3 {  
   max-width: 500px;  
}  
#style-TFYKY.style-TFYKY {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
#style-2RITy.style-2RITy {  
   overflow: visible !important;  
}  
#style-i8HX5.style-i8HX5 {  
   background-color: rgb(47, 60, 69);  
}  
#style-7SmnC.style-7SmnC {  
   background-image: url("./images/-noise-course-min-82a51a35f386b9ee79fe40ba96500d55.png");  
    background-position: 50% 60%;  
    background-size: contain !important;  
    background-repeat: repeat;  
}  
#style-JhTLY.style-JhTLY {  
   font-family: "Noto Serif TC", serif;  
}  
#style-4716G.style-4716G {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
#style-QmqnN.style-QmqnN {  
/*   background-color: rgb(202, 217, 214);  */
    background: linear-gradient(90deg, rgba(202,217,214,1) 35%, rgba(172,217,135,1) 100%);
}  
#style-Bxr3D.style-Bxr3D {  
   background-image: url("./images/-noise-course-min-82a51a35f386b9ee79fe40ba96500d55.png");  
    background-position: 50% 60%;  
}  
#style-pgwoB.style-pgwoB {  
   margin-bottom: 1em;  
    font-family: "Noto Serif TC", serif;  
    color: rgb(53, 16, 5);  
}  
#style-i5CQ5.style-i5CQ5 {  
/*   background-color: rgb(194, 139, 124);  */
    background-color: #FFFF00;
}  
#style-nACml.style-nACml {  
/*   background-color: rgb(194, 139, 124);  */
    background-color: #FFFF00;
}  
#style-8L7Gp.style-8L7Gp {  
/*   background-color: rgb(194, 139, 124);  */
    background-color: #FFFF00;
}  
#style-4PUEg.style-4PUEg {  
/*   background-color: rgb(194, 139, 124);  */
    background-color: #FFFF00;
}  
#style-mfELA.style-mfELA {  
/*   background-color: rgb(194, 139, 124);  */
    background-color: #FFFF00;
}  
#style-SbeNB.style-SbeNB {  
/*   background-color: rgb(194, 139, 124);  */
    background-color: #FFFF00;
}  
#style-3jYSJ.style-3jYSJ {  
   background-color: rgb(53, 53, 53);  
}  
#style-xdQBt.style-xdQBt {  
   background-color: rgb(53, 53, 53);  
}  
#style-5PinJ.style-5PinJ {  
   margin-bottom: 0.25em;  
}  
#style-w26Dl.style-w26Dl {  
   color: rgb(247, 247, 247);  
    background-color: rgb(83, 98, 208);  
}  
#style-2rlro.style-2rlro {  
   background-color: rgb(53, 53, 53);  
}  
#style-c6xbL.style-c6xbL {  
/*   background-color: rgb(47, 60, 69);  */
    background: linbackground: linear-gradient(90deg, rgba(0,0,255,1) 16%, rgba(227,255,203,1) 100%);
}  
#style-4CeGx.style-4CeGx {  
   min-height: 101.369px;  
}  
#style-e8Yw9.style-e8Yw9 {  
   font-family: "Noto Serif", serif;  
}  
#style-cRs2L.style-cRs2L {  
   color: rgb(247, 247, 247);  
}  
#style-UgoZT.style-UgoZT {  
   border-bottom: 2px solid #333;  
    width: 40px;  
    display: inline-block;  
}  
#style-8fQjY.style-8fQjY {  
   color: rgb(247, 247, 247);  
}  
#style-qQZfZ.style-qQZfZ {  
   color: rgb(255, 255, 255);  
    background-color: rgb(83,98,208);  
}  
.elementor-heading{
    color: #00008B;
    font-family: "Montserrat", Sans-serif;
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    line-height: 69px
}
.gradient-one{
    background: linear-gradient(90deg, rgba(211,211,211,1) 35%, rgba(121,186,199,1) 100%);
}
.video-container{
    background: linear-gradient(90deg, rgba(255,255,65,1) 23%, rgba(227,255,203,1) 100%);
}
.price-highlight{
    color: #FFD700;
}
.faq-container p{
    color: #000000;
}
#text-black{
    color: black;
}

@media(max-width: 767px){
    .elementor-heading{
        font-size: 22px;
        line-height: 1.2em;
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 0.1em;
    }
    .is-boxes{
        display: block;
        width: auto;
    }
}